---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Link from '@/components/Link.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />
      <Card>
        <CardContent>
          <p class="mt-3 mb-2 text-sm text-muted-foreground">
            It's an opinionated, no-frills static blogging template
            built with <Link
              href="https://astro.build"
              class="text-foreground"
              external
              underline>Astro</Link
            >, <Link
              href="https://tailwindcss.com"
              class="text-foreground"
              external
              underline>Tailwind</Link
            >, and <Link
              href="https://ui.shadcn.com"
              class="text-foreground"
              external
              underline>shadcn/ui</Link
            >. Extraordinarily loosely based on the <Link
              href="https://github.com/yasir-khan22"
              class="text-foreground"
              external
              underline>Astro Micro</Link
            > theme.
          </p>
          <p class="text-sm text-muted-foreground">
            To use this template, check out the <Link
              href="https://github.com/jktrn/astro-erudite"
              class="text-foreground"
              underline
              external>GitHub</Link> repository. </p>
        </CardContent>
      </Card>
    </section>
        <h2 class="mb-2 text-2xl font-semibold">Our Projects</h2>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
    </section>
  </Container>
</Layout>
